<div>
    <ul class="breadcrumb" style="font-size:8px;">
        <li style="font-size:12px;margin: 0;"><a [routerLink]="['/movies']" style="font-size:12px;">List Movies</a></li>
        <li style="font-size:12px;margin: 0;">Casting</li>
    </ul>

    <h1 class="center" style="margin-left: 10px;">Cast Movies</h1>
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="isLoadingResults"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" width="100%">

        <!-- Name Column -->
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Known_for_department Column -->
        <ng-container matColumnDef="known_for_department">
            <th mat-header-cell *matHeaderCellDef> Departament </th>
            <td mat-cell *matCellDef="let element"> {{element.known_for_department}} </td>
        </ng-container>

        <!-- Popularity Column -->
        <ng-container matColumnDef="popularity">
            <th mat-header-cell *matHeaderCellDef> Popularity </th>
            <td mat-cell *matCellDef="let element"> {{element.popularity}} </td>
        </ng-container>

        <!-- Character Column -->
        <ng-container matColumnDef="character">
            <th mat-header-cell *matHeaderCellDef> Character </th>
            <td mat-cell *matCellDef="let element"
                style=" white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:100px" width="30%">
                {{element.character}} </td>
        </ng-container>

        <!-- Profile_path Column -->
        <ng-container matColumnDef="profile_path" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Profile </th>
            <td mat-cell *matCellDef="let element" width="20%">
                <img [src]="baseImg(element.profile_path)" style="width: 80px;height: 100px;margin-left: 10px;" />
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #paginator [pageSizeOptions]="[3, 9, 15, 20]"></mat-paginator>
</div>